@import url("https://fonts.googleapis.com/css?family=Caveat+Brush");
body {
 background: 
}
header {
 background-image: url(../img/woodPlank.jpg);
 height: 500px;
 width: 100%;
}
.ayce {
}
ul li {
 list-style: none;
 float: right;
 font-weight: bold;
 text-decoration: none;
 color: black;
 margin: 4px;
}
h1 {
 font-family: "caveat bush" cursive;
}
.container {
 background-image: url(../img/woodPlank.jpg);
}
a {
 color: black;
 text-decoration: none;
}
.cerf {
 text-align: center;
 padding: 10%;
}
.poto1 {
 background: beige;
 float: left;
 height: 500px;
    width: 42%;
 margin-top: -5%;
 text-transform: uppercase;
}
.poto2 {
 float: right;
  margin-top: -5%;
  height: 500px;
  width: 58%;
}






                



