body{
background-color: mediumpurple;
background-image: url(https://www.ouest-france.fr/sites/default/files/styles/image-640x360/public/2017/04/16/seine-saint-denis-manifestation-contre-un-meeting-de-marine-le-pen.jpg?itok=QrofTHXT)no-repate;
text-align: center;


}
div{
margin-top: 100px;


}







