body{
    background: #c7eef3d7;
    font-size: 16px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    color: #333;
}
fieldset{
    padding: 10px;
    margin: 20px 0;

}
fieldset:hover{
    box-shadow: 0 0 20px #444;
}

.tooz{
    padding: 10px;
    margin:20px 0;
    background: rgb(19, 151, 41);
}

.tooz label{
    color: #fff;
    width: 200px;
    display: inline-block;
    padding: 10px 0 15px 40px;
}
.tooz input{
width: 300px;
}

.tooz2{
    color: blueviolet;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.block2{
    background: rgba(36,168, 197, 0.6);
    padding: 10px;
    margin:20px 0;

}
.block2 label{
color: #fff;
width: 100px;
display: inline-block;
padding: 5px 0 15px 10px;

}

.block2 input{
    width: 10px;
    height: 20px;

}

.block3{
    color: blueviolet;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.block3 label{
    color: #fff;
    width: 100px;
    display: inline-block;
    padding: 10px 0 10px 40px;
}




.block3 input{
    width: 300px;
    height: 20px;
    ;
    
}


.bambam1{
    background: rgba(168, 197, 36, 0.6);
    padding: 10px;
    margin:20px 0;

}

.bambam2{
    color: blueviolet;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}



input[type=checkbox], input [type=radio]{
    width: 30px;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=textarea]:focus{
    border: 5px solid red;

}



input[type=submit]{
    width: 20%;
    color: aqua;
    background: #fe6921;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

input[type=submit]:hover{
    background: #e8ab2e;
}